---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($login: String!) {\n  user(login: $login) {\n    name\n    repositories(last:
        10) {\n      edges {\n        node {\n          name\n        }\n      }\n    }\n  }\n}\n","variables":{"login":""}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LOKALISE_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-12-11 10:12:40 UTC
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4995'
      X-Ratelimit-Reset:
      - '1701688328'
      X-Ratelimit-Used:
      - '5'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":null},"errors":[{"type":"NOT_FOUND","path":["user"],"locations":[{"line":2,"column":3}],"message":"Could
        not resolve to a User with the login of ''''."}]}'
  recorded_at: Mon, 04 Dec 2023 10:23:13 GMT
recorded_with: VCR 6.2.0
