---
http_interactions:
- request:
    method: post
    uri: https://api.github.com/graphql
    body:
      encoding: UTF-8
      string: '{"query":"query($login: String!) {\n  user(login: $login) {\n    name\n    repositories(last:
        10) {\n      edges {\n        node {\n          name\n        }\n      }\n    }\n  }\n}\n","variables":{"login":"mihaker"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <LOKALISE_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - ''
      X-Accepted-Oauth-Scopes:
      - repo
      Github-Authentication-Token-Expiration:
      - 2023-12-11 10:12:40 UTC
      X-Github-Media-Type:
      - github.v4; format=json
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4994'
      X-Ratelimit-Reset:
      - '1701688328'
      X-Ratelimit-Used:
      - '6'
      X-Ratelimit-Resource:
      - graphql
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"user":{"name":"Mykhailo Ostapenko","repositories":{"edges":[{"node":{"name":"miwanation"}},{"node":{"name":"pick_a_card"}},{"node":{"name":"Askit"}},{"node":{"name":"rozetka"}},{"node":{"name":"Geekhub"}},{"node":{"name":"Shop"}},{"node":{"name":"miwa"}},{"node":{"name":"friendsClub"}},{"node":{"name":"testTask"}}]}}}}'
  recorded_at: Mon, 04 Dec 2023 10:23:13 GMT
recorded_with: VCR 6.2.0
